body{
    background: rgb(9,47,231);
    background: linear-gradient(90deg, rgba(9,47,231,1) 0%, rgba(23,199,236,1) 48%);
}

.emsg{
    position: absolute;
    top: 50%;
    margin: -25px 0 0 -25px;
    text-align: center;
}